<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ZHTESTFocFlightMapper">

    <resultMap id="resultFocFlight" type="com.simple.core.foc.entity.FocFlight">
        <result column="seq_t2001" property="focFlightId"/>
        <result column="flight_no" property="flightNo"/>
        <result column="flight_date" property="flightDate"/>
        <result column="departure_airport" property="departureAirport"/>
        <result column="arrival_airport" property="arrivalAirport"/>
        <result column="std" property="std"/>
        <result column="etd" property="etd"/>
        <result column="atd" property="atd"/>
        <result column="sta" property="sta"/>
        <result column="eta" property="eta"/>
        <result column="ata" property="ata"/>
        <result column="ac_type" property="acType"/>
        <result column="d_or_i" property="dOrI"/>
        <result column="dispatch_pass_time" property="dispatchPassTime"/>
        <result column="crew_arrival_time" property="crewArrivalTime"/>
        <result column="flg_vr" property="flgVR"/>
        <result column="flg_cs" property="flgCS"/>
        <result column="ac_reg" property="acReg"/>
        <result column="modify_time" property="modifyTm"/>
    </resultMap>

    <resultMap id="resultFocCfp" type="com.simple.core.foc.entity.FocCfp">
        <result column="flight_id" property="flightId"/>
        <result column="cfp_info" property="cfpInfo"/>
        <result column="modify_time" property="modifyTm"/>
    </resultMap>

   <select id="selectFlightByTime"  resultMap="resultFocFlight" parameterType="java.util.Map">
        SELECT seq_t2001, flight_no, flight_date, departure_airport, arrival_airport,
               std, etd, atd, sta, eta,
               ata, ac_reg , ac_type , d_or_i , dispatch_pass_time ,
               crew_arrival_time , flg_vr , flg_cs , modify_time
         FROM t2001 t
        WHERE t.ata IS NULL
          AND t.atd IS NOT NULL
    </select>
   <!-- AND t.std BETWEEN #{startTime} AND #{endTime}-->

    <select id="selectCfpByTime" parameterType="java.util.Date"  resultMap="resultFocCfp" >
        SELECT t.flight_id,t.cfp_info,t.modify_time FROM  t2001_fchk  t
    </select>




    
</mapper>